$ git init
git remote add origin git@github.com:DanielZolett/OlaMundo.git 
[remote "origin"]
    url = git@github.com:DanielZolett/OlaMundo.git
    fetch = +refs/heads/*:refs/remotes/origin/*
    
  git status
